body{
background-color: #121212;
align-itens: center;
}

h1{
font-size: 70px;
text-align: center;
color: #ffffff;
margin-top: 30px;
margin-bottom: 30px;
}

h3{
text-align: center;
color: #000000;
}

div{
text-align: center;
}

a{
text-decoration: none;
color: #000000;
}

/* NAV */

.navbar{
background-color: #000000;
}

.tpnav{
color: #ffffff;
font-size: 17px
}

/* FIM NAV */

/* PÁGINA INICIAL (INDEX) */

#btnindex{
margin-left: 34%;
width: 500px;
height: 60px;
font-size: 25px;
margin-bottom: 30px;
}



/* FIM PÁGINA INICIAL (INDEX) */


/* PÁGINA CADASTRO */

form{
margin-top: 10px;
margin-bottom: 10px;
padding-top: 30px;
padding-bottom: 5px;
text-align: center;
background-color: #FFFFFF;
border-radius: 20px;
}

label{
font-size: 20px;
}

input{
padding: 5px;
border-radius: 10px;
border: inset;
width: 400px;
}

.btn{
text-decoration: none;
background-color: #FFFFFF;
text-color: #000000;
}

#btncadastro{
width: 150px;
height: 60px;
font-size: 20px;
color: #556B2F;
background-color: #FFFFFF;
border-color: #556B2F;
border-decoration: none;
border-radius: 10px;
}

/* FIM PÁGINA DE CADASTRO */

/* PÁGINA EXCLUIR */

#btnecluir{
width: 150px;
height: 60px;
font-size: 20px;
color: #FF0000;
background-color: #FFFFFF;
border-color: #FF0000;
border-decoration: none;
border-radius: 10px;
}

/* FIM PÁGINA EXCLUIR */
