{% extends 'base.html' %}
{% block conteudo %}

<br><br>

<div class="container">
  <form class="form" action="/atualizar" method="POST">
    <p class="title">Atualize seus dados</p>
    <p class="message">Informe seu CPF:</p>

    <label>
    <input class="input" type="text" name="cpf" id="cpf">
    <span>CPF</span></label><br><br>

    <label>
    <input class="input" type="text" name="nome" id="nome">
    <span>Nome</span></label><br>

    <label>
    <input class="input" type="text" name="telefone" id="telefone">
    <span>Telefone</span></label><br>

    <label>
    <input class="input" type="text" name="endereco" id="endereco">
    <span>Endereço</span></label><br>

    <button class="submit">Atualizar</button>
  </form>
</div><br><br>

<div class="container">
  <button type="button" class="btn btn-outline-primary"><a href="/listar">Consultar Tudo</a></button>
  <button type="button" class="btn btn-outline-primary"><a href="/consultar">Consultar Individual</a></button>
  <button type="button" class="btn btn-outline-secondary"><a href="/cadastro">Cadastrar</a></button>
  <button type="button" class="btn btn-outline-danger"><a href="/deletar">Excluir</a></button>
</div><br>

{% endblock %}