{% extends 'base.html' %}
{% block conteudo %}

<h1>Cadastre-se!</h1>
<h3>Realize seu cadastro rápido e fácil! :)</h3>
<br>

<div id="forcadastro">
  <form action="/cadastrarUsuario" method="POST">

    <label>Nome: </label><br>
    <input type="text" name="nome" id="nome" placeholder="Informe seu nome..."/><br><br>

    <label>CPF: </label><br>
    <input type="text" name="cpf" id="cpf" placeholder="Informe seu CPF..."/><br><br>

    <label>Telefone: </label><br>
    <input type="text" name="telefone" id="telefone" placeholder="EX: (11)99999-9999"/><br><br>

    <label>Endereço: </label><br>
    <input type="text" name="endereco" id="endereco" placeholder="Rua, bairro, complemento, nº"/><br><br>


    <button id="btncadastro">Cadastrar</button><br><br>

    <div>
      <button type="button" class="btn btn-outline-primary"><a href="/listar">Consultar Tudo</a></button>
      <button type="button" class="btn btn-outline-primary"><a href="/listarIndividual">Consultar Individual</a></button>
      <button type="button" class="btn btn-outline-secondary"><a href="/atualizacao">Atualizar</a></button>
      <button type="button" class="btn btn-outline-danger"><a href="/deletar">Excluir</a></button>
    </div><br>

  </form>

</div>





{% endblock %}