{% extends 'base.html' %}
{% block conteudo %}

<h1>Cadastre-se!</h1>
<h3>Realize seu cadastro rápido e fácil! :)</h3>
<br>

<div id="forcadastro">
  <form action="/cadastrarUsuario" method="POST">

    <label>Nome: </label>
    <input type="text" name="nome" id="nome"/><br><br>

    <label>CPF: </label>
    <input type="text" name="cpf" id="cpf"/><br><br>

    <label>Telefone: </label>
    <input type="text" name="telefone" id="telefone"/><br><br>

    <label>Endereço: </label>
    <input type="text" name="endereco" id="endereco"/><br><br>


    <button id="btncadastro">Cadastrar</button><br><br>

    <div>
      <button type="button" class="btn btn-outline-primary"><a href="/listar">Consultar Tudo</a></button>
      <button type="button" class="btn btn-outline-primary"><a href="/listarIndividual">Consultar Individual</a></button>
      <button type="button" class="btn btn-outline-secondary"><a href="/atualizacao">Atualizar</a></button>
      <button type="button" class="btn btn-outline-danger"><a href="/excluir">Excluir</a></button>
    </div>

  </form><br>

</div>





{% endblock %}