{% extends 'base.html' %}
{% block conteudo %}

<br><br><br>
<div class="container">
    <form class="form" action="/cadastrarUsuario" method="POST">
        <p class="title">Cadastre-Se</p>
        <p class="message">cadastre-se agora e tenha acesso total ao site.</p>

        <label>
            <input class="input" type="text" name="nome" id="nome">
            <span>Nome</span>
        </label>

        <label>
            <input class="input" type="text" name="cpf" id="cpf">
            <span>CPF</span>
        </label>

        <label>
            <input class="input" type="text" name="telefone" id="telefone">
            <span>Telefone</span>
        </label>

        <label>
            <input class="input" type="text" name="endereco" id="endereco">
            <span>Endereço</span>
        </label>

        <button class="submit">Cadastrar</button>

    </form><br><br>
    <div class="container">
      <button type="button" class="btn btn-outline-primary"><a href="/listar">Consultar Tudo</a></button>
      <button type="button" class="btn btn-outline-primary"><a href="/consultar">Consultar Individual</a></button>
      <button type="button" class="btn btn-outline-secondary"><a href="/atualizacao">Atualizar</a></button>
      <button type="button" class="btn btn-outline-danger"><a href="/deletar">Excluir</a></button>
    </div><br><br>
  </form>

</div>





{% endblock %}