{% extends 'base.html' %}
{% block conteudo %}

<h1> Excluir Cadastro </h1>

<div class="container">
    <form action="/excluir" method="POST">
    <p class="card__content">Lamentamos saber que você deseja excluir seu cadastro. Se houver algo que possamos fazer para melhorar sua experiência, por favor, nos avise. Se ainda assim você quiser prosseguir, sua conta será removida permanentemente. Agradecemos pelo tempo que passou conosco!</p>
    <div class="card__form">
        <input placeholder="Informe seu CPF..." type="text" name="cpf" id="cpf"/><br><br>

        <button class="pushable"><span class="shadow"></span><span class="edge"></span><span class="front"><a href="/excluir">Excluir</a></span></button>
    </div>
</div><br><br>
      <div class="container">
          <button type="button" class="btn btn-outline-primary"><a href="/listar">Consultar Tudo</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/consultar">Consultar Individual</a></button>
          <button type="button" class="btn btn-outline-secondary"><a href="/atualizacao">Atualizar</a></button>
          <button type="button" class="btn btn-outline-secondary"><a href="/cadastro">Cadastrar</a></button>
      </div><br>


{% endblock %}